:root {
    --clr-neon: cyan;
    --clr-bg: #001414;
  }
  
  *, 
  *::after,
  *::before {
    box-sizing: border-box;
  }
  
  .neon {
    margin-top: -150px;
    background-color: #001414;
    font-size: var(--font-size);
    display: inline-block;
    position: relative;
    cursor: pointer;
    border: var(--clr-neon) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 
      0 0 .20em #FFF7,
      0 0 .30em var(--clr-neon);
    box-shadow: 
      inset 0 0 .5em var(--clr-neon),
            0 0 .5em var(--clr-neon);
  }
  
  
  
  .neon::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--clr-neon);
    box-shadow: 0 0 2em var(--clr-neon);
    z-index: -1;
    opacity: 0;
    transition: opacity 100ms linear;
  }
  
  .neon:hover::after {
    opacity: 1;
  }
  .neon:hover, .neon:focus {
    color: black;
    background-color: cyan;
    text-shadow: 
      0 0 .20em black,
      0 0 .30em black;
  }
  .neon:hover::before {
    opacity: 0.8;
  }

  .mask-image-gradient {
    mask-image: linear-gradient(to top, transparent, black);
  }